/* Related Products Styling */
.chevron-left {
    background-color: transparent;
    border: transparent;
}
.chevron-right {
    float: right;
    background-color: transparent;
    border: transparent;
}

.productCard {
    box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 15rem;
    height: 30rem;
    margin-right: 1rem;
    padding: 1.5rem;
    text-decoration: none;
    color: black;
}
.productImage { 
    display: block; 
    width: 13rem;
    height: 16rem;
    padding: 1rem;
};

.productCarousel {
    display: flex;
    justify-content: left;
    padding: 2rem;
}

.product_category {
    padding-left: 1rem;
}
.product_cardtitle {
    padding-left: 1rem;
    font-weight: bold;
    font-size: large;
}
.product_default_price {
    padding-left: 1rem;
}
.product_original_price {
    text-decoration-line: line-through;
}
.product_sale_price {
    color: red;
    font-weight: bold;
}

/* Comparison Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: auto;
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    padding: 3rem;
    transform: translate(-50%,-50%);
    overflow: auto;
 
}

.compare-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: flex-start center;
    column-gap: 10rem;
    row-gap: 2rem;
    border-bottom: 1px solid #dcdcdc;
    font-size: medium;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.rowTitle {
    font-weight: bold;
    font-size: large;
    padding-bottom: 0.5rem;
}

.feature {
    position: relative;
    font-weight: bold;
    text-align: center;
}

.current-col {
    position: relative;
    text-align: left;
}

.compare-col {
   position: relative;
   margin-right: 4rem;
   text-align: right;
}

#compareButton {
    float: right;
    color: black;
    border: none;
}

.closeCompareModal {
    position: fixed;
    width: 8%;
    height: auto;
    margin: 1rem;
}

/*My Outfit Styling */
#addButton {
    color: grey;
    background-color: white;
    text-align: center;
    width: 15rem;
    height: 30rem;
    font-size: 500%;
    border-color: white;
}

#addButton:hover {
    color: #007bff;
    border: 3px solid #007bff;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}


