.leftCt{
  width:50%;
  height:100%;
  background-color:rgba(0,0,0,.2);
  overflow:hidden;
  max-height: 800px;
}
.expandImage{
       width: 100%!important;
       overflow: hidden;
       .mainImage-ct{
        transform: scale(1)!important;
       }
  .img{
    background-size: cover!important;
    width: 500px!important;
  }
}