.image-holder{

  width:90%;
   height: 600px;
  //  background:aqua;
   margin:0 auto;
   top:50px;
   position:relative;
   min-width:400px;
  display: flex;
  align-items: center;
   justify-content: center;
   img{
     max-height:100%;
     width:auto;

   }
}