
.show-thumbmodal{
  transform: rotate(270deg);
}
.hide-thumbmodal{
  transform: rotate(0deg);
}
.thumbs{
  max-height: 437px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.image-holder{

  width: 100%;
  height: 600px;
  margin: 0 auto;
  top: 50px;
  position: relative;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
   .img{
     width: inherit;
     height: 100%;
     cursor: zoom-in;

   }
   .hoverModal{
    background: transparent;
    position: absolute;
    width: 90%;
    height: 100%;
    right: 0px;
   }
   .bigImage{
     position: absolute;

     right:-50px;
     .img{
      z-index: 2002;
      cursor: zoom-in;
     }
   }
   .img{
     position: relative;
   .expand-arrow{
    right: 30px;
    position: absolute;
    width: 30px;
    height: 30px;
   }
  }
}