.ratings-and-reviews {
  display: flex;
  .reviews {
    flex: 1;
    .reviews-list {
      .review-tile {
        .review-header {
          display: flex;
          flex-direction: row;
          .star-rating {
            width: 50%;
          }
          .right-corner {
            text-align: right;
            flex: 1;
          }
        }

        .review-main {
          .thumbnail-display {
            display: flex;
            flex-direction: row;
            gap: 10px;
            img {
              max-width: 100px;
              height: auto;
            }
          }
        }
        .modal-window {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          .modal-content {
            width: 500px;
            background-color: #fefefe;
            margin: 5% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
          }
        }
      }
    }
  }

  .ratings {
    width: 25%;
  }
}


