.ratings-and-reviews {
  display: flex;

  .reviews {
    flex: 1;
    background-color: green;
    .reviews-list {
      background-color: red;
      .review-tile {
        background-color: lightblue;
        .review-header {
          background-color: pink;
          display: flex;
          flex-direction: row;
          .star-rating {
            background-color: yellow;
            width: 50%;
          }
          .right-corner {
            text-align: right;
            background-color: orange;
            flex: 1;
          }
        }
      }
      .reviews-sorting {
        background-color: yellow;
      }
    }
  }

  .ratings {
    width: 25%;
  }
}


