.ratings-and-reviews {
  display: flex;
  .reviews {
    flex: 1;
    .reviews-list {
      .review-tile {
        .review-header {
          display: flex;
          flex-direction: row;
          .star-rating {
            width: 50%;
          }
          .right-corner {
            text-align: right;
            flex: 1;
          }
        }

        .review-main {
          .thumbnail-display {
            display: flex;
            flex-direction: row;
            gap: 10px;
            .review-image {
              max-width: 100px;
              height: auto;
            }
          }
        }

      }
    }
  }

  .ratings {
    width: 25%;
  }
}

.modal-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


