.rightCt{
  width:50%;
  height:100%;
  background:red;
  .main-content{
    width:100%;
    height:30%;
    background:orange;
    .starCt{
      display:inline-block
    }
  }
  .style-selectors{
    width:100%;
    height:30%;
    background:aqua;
  }
  .option-selectors{
    width:100%;
    height:40%;
    background:yellow;

  }
}
a{
  text-decoration: underline;
  color:blue;
  cursor: pointer;
}