.rightCt{
  position: relative;
  .starCt{
    position: relative;
    display: block;
    position: relative;
    background: #fff40000;
    width: 190px;
    height: 35px;
    top:0px;

  }
  .starOverlay{
    // background-color: white;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    z-index: 5;
    mix-blend-mode: color;
    width: 185px;
    max-width: 185px;
  }
  .stars{
    position: absolute;
    top: 0;
    margin-right: 2px;
    height: 35px;
    position: relative;
    fill: transparent;
    z-index: 3;
  }
  .star{
    color: yellow;
    width: 35px;
    margin-right: 2px;
    height: 35px;
    color: #f8d448;
    position: relative;
    z-index: 5;
    column-fill: red;
    mix-blend-mode: overlay;
    // background: white;
  }
  label{
    width:100%;
    display: block;
    text-align:center;
  }
  background:rgba(0,0,0,.3);

  width:50%;
  height:100%;
  // background:red;
  .main-content{
    width:100%;
    height:30%;
    // background:white;

  }
  .drop-down{
    width: auto;
    // min-width: 100px;
    height: 30px;
    // background: white;
    border: 2px solid red;
    border-radius: 88px;
    display: inline-block;
  }
  .sku-dropdown{
    width:70%;
    margin-right:10%;
  }
  .selector{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
  }
  .style-selectors{
    // background:white;
    width:100%;
    height:30%;
    // border:3px solid black;

  }
  .option-selectors{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  a{
    text-decoration: underline;
    color:blue;
    cursor: pointer;
  }
  .mediumText{
    font-size: 25px;
    font-weight:bold;
  }
  .title {
    font-size:35px;
    color:white;
    font-weight:800;

  }
  .price{
    display: block;
    font-size: 20px;
    color: #000000;
    font-size: 41px;
  }
  .addToCart{
    width: 70%;
    height: 40px;
    margin-right: 10%;
    background: black;
    color: white;
    border: white;
    border: 4px solid white;
  }
}
