/*-----------------------------------
ANSWERS
-----------------------------------*/

.a {
 font-weight: bold;
}

.answers {
  display: flex;
  flex-direction: row;
}

.answer-link{
  text-decoration: underline;
}

.answer-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-y: auto;
  max-height: 50vh;
}

.answerer-seller {
  font-weight: bold;
}

.answerer-details {
  font-size: x-small;
}

.answer-photos {
  width: 80px;
  height: auto;
}

.load-more-answers {
  font-weight: bold;
  font-size: x-small;
}

/*-----------------------------------
MODAL WINDOW
-----------------------------------*/

.add-answer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-modal {
  align-self: flex-end;
}

.modal-alert {
  font-weight: bold;
}

.modal-alert-fields {
  color: red;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 13px 0;
}

.modal-subtitle {
  margin: 0;
}

.modal-warning {
  font-style: italic;
  margin: 10px 0 0 0;
}

.questions-modals {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.questions-modals-content {
  align-items: center;
  background-color: white;
  border: 1px solid rgb(80,80, 80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
  position: absolute;
  width: 500px;
  z-index: 3;
}

.submit-modal {
  background-color: white;
  border: 1px solid;
  color: rgb(80,80, 80);
  font-weight: bold;
  height: 50px;
  padding: 0 20px;
}

.upload-photos-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*-----------------------------------
QUESTIONS
-----------------------------------*/

.question-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-link {
  text-decoration: underline;
}

.question-links {
  font-size: x-small;
}

.questions-list {
  overflow-y: scroll;
  max-height: 100%;
  position: relative;
}

.question-body {
  font-weight: bold;
}

/*-----------------------------------
QUESTION BUTTONS
-----------------------------------*/

.add-question-button {
  background-color: white;
  border: 1px solid;
  color: rgb(80,80, 80);
  font-weight: bold;
  height: 50px;
  padding: 0 20px;
}

.more-question-button {
  background-color: white;
  border: 1px solid;
  color: rgb(80,80, 80);
  font-weight: bold;
  height: 50px;
  margin: 0 30px 0 0;
  padding: 0 20px;
}

/*-----------------------------------
SEARCH BAR
-----------------------------------*/
#questions-search-bar {
  color:rgb(80,80, 80);
  font-weight: bold;
  height: 50px;
  min-width: 100%;
}

/*-----------------------------------
WIDGET
-----------------------------------*/

.questions-title {
  font-weight: 400;
}

.questions-widget {
  color: rgb(80,80, 80);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size:small;
  max-height: 100vh;
  margin: 0 10%;
  ;

}